<mat-card class="product-detail">
  <mat-card-title>
    <h1 class="product-detail__headline">Product details</h1>
  </mat-card-title>

  <mat-card-content>
    <div class="container">
      <div class="banner">
        <img class="banner__img" [src]="imgUrl" alt="product image">
      </div>
      <div class="description">
        <p class="description__title">{{product?.title}}</p>
        <p class="description__text">{{product?.text}}</p>
      </div>  
    </div>
  </mat-card-content>
</mat-card>

<app-left-review></app-left-review>

<app-review 
  *ngFor="let review of $reviews | async"
  [review]="review">
</app-review>
