@import '../common/variables';

.product-detail{
    text-align: center;
}

.product-detail__headline{
    font-size: $headline-size;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner{
    width: 40%;
    min-width: 340px;
    text-align: center;
}

.banner__img{
    width: 232px;
    height: 217px;
}

.description{
    min-width: 340px;
    width: 60%;
}

.description__title{
    font-size: $headline-size;
}

.description__text{
    font-size: $paragraph-size;
}