@import '../common/variables';

.let-review{
    width: 90vw;
    margin: 5px auto;
}

.header__headline{
    font-size: $headline-size;
}

.form{
    width: 100%;
}

.form__field{
    margin-top: 20px;
    width: 100%;
}

.alert{
    margin-top: 30px;
}

.alert p{
    font-size: $paragraph-size;
}

.alert span{
    color: red;
}

mat-star-rating{
    &:before{
        content: 'Rate your experience: ';
    }
}