<mat-card class="let-review">
    <mat-card-title class="header">
      <p class="header__headline">Leave you review here. Your experience can help others!</p>
    </mat-card-title>

    <mat-card-content>
        <mat-star-rating [rating]="_rating"  [starCount]="_starCount" [color]="_starColor" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>

        <form class="form" (ngSubmit)="onSubmit()" #letReviewForm="ngForm">
          <mat-form-field class="form__field">
            <textarea matInput 
              placeholder="Leave you review!" 
              required 
              [(ngModel)]="_reviewText" 
              name="reviewText"> </textarea>
          </mat-form-field> 
          
          <div class="form-actions">
            <button mat-raised-button type="reset"
            (click)="letReviewForm.reset()">Cancel</button>
            
            <button mat-raised-button type="submit" 
            [disabled]="!letReviewForm.form.valid">Add</button>
          </div>    
        </form>
     </mat-card-content>

     <div *ngIf="!_isAuthentificated" class="alert">
       <p><span>Nope!</span> You should be logged in to the system to left orders. Please sign in or register your account on the <a routerLink="/login">autorization page.</a></p>
     </div>
</mat-card>