@import './common/variables';

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

.navbar-section{
    margin: 10px 0;
}

.navigation{
    text-align: end;
}

.navbar-section__logo{
    float: left;
    width: 100px;
    margin: 0 25px;
    background: #fff;
    cursor: pointer;
}

.navbar-section__headline{
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    margin:  0 10px;
    font-size: $headline-mobile-size;
}

.navigation__item{
    margin: 0 10px;
    text-decoration: inherit;
    color: inherit; 
    font-size: $paragraph-size;
    &:hover{
        text-decoration: underline;
    }
}

@media(max-width: 576px){
    
    .navigation{
        display: none;
    } 

    .navbar-section__logo{
        
        margin: 0;
    }

    .navbar-section__headline{
        margin: 0 25px;
    }
}