<mat-toolbar class="navbar" color="primary">  
    <div class="navbar-section">
        <img routerLink="/catalog" class="navbar-section__logo" src="https://light-it.net/wp-content/uploads/light_it_logo-1.png" alt="Company logo.">
        <span class="navbar-section__headline">Light IT Test Task</span>  
    </div>
    <div class="navbar-section navigation">
        <a routerLink="/catalog" class="navigation__item">Catalog</a>
        <a routerLink="/login" class="navigation__item">Log In/Register</a>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>


