@import '../common/variables';

.review{
    width: 90vw;
    margin: 5px auto;
}

.review__description{
    font-size: $paragraph-size;
    color: grey;
    margin-top: 10px;
}

.review__body{
    font-size: $paragraph-size;    
    color: black;
    margin: 5px 0;
}