<mat-card class="review">
  <mat-star-rating [rating]="review?.rate"  [starCount]="starCount" [color]="starColor" [disabled]="true"></mat-star-rating>

  <p class="review__description">By {{review?.created_by?.username}} on {{review?.created_at | date: 'mediumDate'}}</p>
  <p class="review__body">{{review?.text}}</p>
</mat-card>