<mat-card class="catalog">
    <mat-card-title>
      <p class="container__headline">Our awesome products</p>
    </mat-card-title>
    <div class="container">
        <app-product-card 
            *ngFor="let product of $products | async" 
            routerLink="/detail/{{product?.id}}"
            [product]="product">
        </app-product-card>
    </div>
</mat-card>
