@import '../common/variables';

.catalog{
    text-align: center;
    margin: 20px;
    height: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container__headline{
    font-size: $headline-size;
}