<mat-card class="signin-container">
  <img src="https://light-it.net/wp-content/uploads/light_it_logo-1.png" alt="Company logo">
  
  <mat-card-title class="header">
    <p *ngIf="hasAccount" class="header__headline">Log in</p>
    <p *ngIf="!hasAccount" class="header__headline">Create Account</p>
  </mat-card-title>

  <mat-card-content>
    <form class="form" (ngSubmit)="onSubmit()" #signIn="ngForm">
      <mat-form-field class="form__field">
        <input matInput 
          placeholder="User Name" 
          required 
          [(ngModel)]="_userName" 
          name="userName">
      </mat-form-field> 

      <mat-form-field class="form__field">
        <input matInput 
          placeholder="Password" 
          required 
          [(ngModel)]="_password" 
          name="password">
      </mat-form-field> 
  
      <div class="form-actions">       
        <button *ngIf="hasAccount" class="form-actions__submit" mat-raised-button type="submit" 
        [disabled]="!signIn.form.valid">Log In</button>

        <button *ngIf="!hasAccount" class="form-actions__submit" mat-raised-button type="submit" 
        [disabled]="!signIn.form.valid">Create my account</button>
      </div>
    </form>

    <hr>

    <div class="caveat">
      <div *ngIf="hasAccount">
        <p class="caveat__title_no-account">New to our Service?</p>
        <button (click)="hasAccount = false" class="caveat__button_no-account" mat-raised-button type="button">Create account</button>
      </div>

      <div *ngIf="!hasAccount">
        <p class="caveat__title_has-account">Already have an account? </p>
        <p (click)="hasAccount = true" class="caveat__link_has-account">Sign in</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>