@import '../common/variables';

.signin-container{
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.header__headline{
    font-size: $headline-size;
}

.form__field{
    width: 100%;
}

.form-actions__submit{
    width: 100%;
    margin-bottom: 28px;
}

.caveat__title_no-account{
    font-size: $headline-size;
}

.caveat__button_no-account{
    width: 100%;
}

.caveat__title_has-account{
    font-size: $paragraph-size;
    display: inline;
}

.caveat__link_has-account{
    color: blue;
    cursor: pointer;
    display: inline;
}
